debug
.history
.idea/*
.tmp
.vscode/*
.DS_Store
build/
artifacts/
dist/
data/blockheaders.bck.db
data/blockheaders.db-journal
data/blockheaders.csv
data/sql


*.db*
main
docker-compose.dev.yml
cover.go
cover.out
cover.html
