version: '3.8'

services:
  app:
    container_name: p2p-headers
    build: ./
    ports:
      - "8080:8080"
      - "8333:8333"
    environment:
      - DB_PREPAREDDB=true
      - DB_PREPAREDDBFILE_PATH=./data/blockheaders.xz
      - HTTP_SERVER_AUTHTOKEN=admin_only_afUMlv5iiDgQtj22O9n5fADeSb
    restart: unless-stopped
