definitions:
  domains.BlockHeader:
    properties:
      creationTimestamp:
        type: string
      difficultyTarget:
        type: integer
      hash:
        items:
          type: integer
        type: array
      merkleRoot:
        items:
          type: integer
        type: array
      nonce:
        type: integer
      prevBlockHash:
        items:
          type: integer
        type: array
      version:
        type: integer
      work:
        type: string
    type: object
  domains.BlockHeaderState:
    properties:
      chainWork:
        type: string
      header:
        $ref: '#/definitions/domains.BlockHeader'
      height:
        type: integer
      state:
        type: string
    type: object
  domains.Token:
    properties:
      createdAt:
        type: string
      isAdmin:
        type: boolean
      token:
        type: string
    type: object
  handler.BlockHeaderResponse:
    properties:
      creationTimestamp:
        type: integer
      difficultyTarget:
        type: integer
      hash:
        type: string
      merkleRoot:
        type: string
      nonce:
        type: integer
      prevBlockHash:
        type: string
      version:
        type: integer
      work:
        type: string
    type: object
  handler.BlockHeaderStateResponse:
    properties:
      chainWork:
        type: string
      header:
        $ref: '#/definitions/handler.BlockHeaderResponse'
      height:
        type: integer
      state:
        type: string
    type: object
info:
  contact: {}
paths:
  /access:
    get:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domains.Token'
      security:
      - Bearer: []
      summary: Get information about token
      tags:
      - access
    post:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domains.Token'
      security:
      - Bearer: []
      summary: Creates new token
      tags:
      - access
  /access/{token}:
    delete:
      consumes:
      - '*/*'
      parameters:
      - description: Token to delete
        in: path
        name: token
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
      security:
      - Bearer: []
      summary: Gets header state
      tags:
      - access
  /chain/header/{hash}:
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Requested Header Hash
        in: path
        name: hash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domains.BlockHeader'
      security:
      - Bearer: []
      summary: Gets header by hash
      tags:
      - headers
  /chain/header/{hash}/{ancestorHash}/ancestors:
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Requested Header Hash
        in: path
        name: hash
        required: true
        type: string
      - description: Ancestor Header Hash
        in: path
        name: ancestorHash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domains.BlockHeader'
            type: array
      security:
      - Bearer: []
      summary: Gets header ancestors
      tags:
      - headers
  /chain/header/byHeight:
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Height to start from
        in: query
        name: height
        required: true
        type: integer
      - description: Headers count (optional)
        in: query
        name: count
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domains.BlockHeader'
            type: array
      security:
      - Bearer: []
      summary: Gets header by height
      tags:
      - headers
  /chain/header/commonAncestor:
    post:
      consumes:
      - '*/*'
      parameters:
      - description: JSON
        in: body
        name: ancesstors
        required: true
        schema:
          items:
            type: string
          type: array
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domains.BlockHeader'
      security:
      - Bearer: []
      summary: Gets common ancestors
      tags:
      - headers
  /chain/header/state/{hash}:
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Requested Header Hash
        in: path
        name: hash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.BlockHeaderStateResponse'
      security:
      - Bearer: []
      summary: Gets header state
      tags:
      - headers
  /chain/tips:
    get:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/domains.BlockHeaderState'
            type: array
      security:
      - Bearer: []
      summary: Gets all tips
      tags:
      - tip
  /chain/tips/prune/{hash}:
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Requested Header Hash
        in: path
        name: hash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      security:
      - Bearer: []
      summary: Prune tip
      tags:
      - tip
  /network/peers:
    get:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
      security:
      - Bearer: []
      summary: Gets all peers
      tags:
      - network
  /network/peers/count:
    get:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: integer
      security:
      - Bearer: []
      summary: Gets peers count
      tags:
      - network
securityDefinitions:
  Bearer:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
