definitions:
  domains.MerkleRootConfirmationRequestItem:
    properties:
      blockHeight:
        type: integer
      merkleRoot:
        type: string
    type: object
  domains.MerkleRootConfirmationState:
    enum:
    - CONFIRMED
    - UNABLE_TO_VERIFY
    - INVALID
    type: string
    x-enum-varnames:
    - Confirmed
    - UnableToVerify
    - Invalid
  domains.Token:
    properties:
      createdAt:
        type: string
      isAdmin:
        type: boolean
      token:
        type: string
    type: object
  headers.BlockHeaderResponse:
    properties:
      creationTimestamp:
        type: integer
      difficultyTarget:
        type: integer
      hash:
        type: string
      merkleRoot:
        type: string
      nonce:
        type: integer
      prevBlockHash:
        type: string
      version:
        type: integer
      work:
        type: string
    type: object
  headers.BlockHeaderStateResponse:
    properties:
      chainWork:
        type: string
      header:
        $ref: '#/definitions/headers.BlockHeaderResponse'
      height:
        type: integer
      state:
        type: string
    type: object
  merkleroots.MerkleRootConfirmation:
    properties:
      blockHash:
        type: string
      blockHeight:
        type: integer
      confirmation:
        $ref: '#/definitions/domains.MerkleRootConfirmationState'
      merkleRoot:
        type: string
    type: object
  merkleroots.MerkleRootsConfirmationsResponse:
    properties:
      confirmationState:
        $ref: '#/definitions/domains.MerkleRootConfirmationState'
      confirmations:
        items:
          $ref: '#/definitions/merkleroots.MerkleRootConfirmation'
        type: array
    type: object
  notification.Webhook:
    properties:
      active:
        type: boolean
      createdAt:
        type: string
      errorsCount:
        type: integer
      lastEmitStatus:
        type: string
      lastEmitTimestamp:
        type: string
      url:
        type: string
    type: object
  tips.TipResponse:
    properties:
      creationTimestamp:
        type: integer
      difficultyTarget:
        type: integer
      hash:
        type: string
      merkleRoot:
        type: string
      nonce:
        type: integer
      prevBlockHash:
        type: string
      version:
        type: integer
      work:
        type: string
    type: object
  tips.TipStateResponse:
    properties:
      chainWork:
        type: string
      header:
        $ref: '#/definitions/tips.TipResponse'
      height:
        type: integer
      state:
        type: string
    type: object
  webhook.RequiredAuth:
    properties:
      header:
        type: string
      token:
        type: string
      type:
        type: string
    type: object
  webhook.WebhookRequest:
    properties:
      requiredAuth:
        $ref: '#/definitions/webhook.RequiredAuth'
      url:
        type: string
    type: object
info:
  contact: {}
paths:
  /../../status:
    get:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: Check the status of the server
      tags:
      - status
  /access:
    get:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domains.Token'
      security:
      - Bearer: []
      summary: Get information about token
      tags:
      - access
    post:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domains.Token'
      security:
      - Bearer: []
      summary: Creates new token
      tags:
      - access
  /access/{token}:
    delete:
      consumes:
      - '*/*'
      parameters:
      - description: Token to delete
        in: path
        name: token
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
      security:
      - Bearer: []
      summary: Gets header state
      tags:
      - access
  /chain/header/{hash}:
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Requested Header Hash
        in: path
        name: hash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/headers.BlockHeaderResponse'
      security:
      - Bearer: []
      summary: Gets header by hash
      tags:
      - headers
  /chain/header/{hash}/{ancestorHash}/ancestor:
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Requested Header Hash
        in: path
        name: hash
        required: true
        type: string
      - description: Ancestor Header Hash
        in: path
        name: ancestorHash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/headers.BlockHeaderResponse'
            type: array
      security:
      - Bearer: []
      summary: Gets header ancestors
      tags:
      - headers
  /chain/header/byHeight:
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Height to start from
        in: query
        name: height
        required: true
        type: integer
      - description: Headers count (optional)
        in: query
        name: count
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/headers.BlockHeaderResponse'
            type: array
      security:
      - Bearer: []
      summary: Gets header by height
      tags:
      - headers
  /chain/header/commonAncestor:
    post:
      consumes:
      - '*/*'
      parameters:
      - description: JSON
        in: body
        name: ancesstors
        required: true
        schema:
          items:
            type: string
          type: array
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/headers.BlockHeaderResponse'
      security:
      - Bearer: []
      summary: Gets common ancestors
      tags:
      - headers
  /chain/header/state/{hash}:
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Requested Header Hash
        in: path
        name: hash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/headers.BlockHeaderStateResponse'
      security:
      - Bearer: []
      summary: Gets header state
      tags:
      - headers
  /chain/merkleroot/verify:
    post:
      consumes:
      - '*/*'
      parameters:
      - description: JSON
        in: body
        name: request
        required: true
        schema:
          items:
            $ref: '#/definitions/domains.MerkleRootConfirmationRequestItem'
          type: array
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/merkleroots.MerkleRootsConfirmationsResponse'
            type: array
      security:
      - Bearer: []
      summary: Verifies Merkle roots inclusion in the longest chain
      tags:
      - merkleroots
  /chain/tip:
    get:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              items:
                $ref: '#/definitions/tips.TipStateResponse'
              type: array
            type: array
      security:
      - Bearer: []
      summary: Gets all tips
      tags:
      - tip
  /chain/tip/longest:
    get:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/tips.TipStateResponse'
      security:
      - Bearer: []
      summary: Gets tip of longest chain
      tags:
      - tip
  /chain/tip/prune/{hash}:
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Requested Header Hash
        in: path
        name: hash
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      security:
      - Bearer: []
      summary: Prune tip
      tags:
      - tip
  /network/peer:
    get:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
      security:
      - Bearer: []
      summary: Gets all peers
      tags:
      - network
  /network/peer/count:
    get:
      consumes:
      - '*/*'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: integer
      security:
      - Bearer: []
      summary: Gets peers count
      tags:
      - network
  /webhook:
    delete:
      consumes:
      - '*/*'
      parameters:
      - description: Url of webhook to revoke
        in: query
        name: url
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
      security:
      - Bearer: []
      summary: Revoke webhook
      tags:
      - webhooks
    get:
      consumes:
      - '*/*'
      parameters:
      - description: Url of webhook to check
        in: query
        name: url
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/notification.Webhook'
      security:
      - Bearer: []
      summary: Get webhook
      tags:
      - webhooks
    post:
      consumes:
      - application/json
      parameters:
      - description: Webhook to register
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/webhook.WebhookRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/notification.Webhook'
      security:
      - Bearer: []
      summary: Register new webhook
      tags:
      - webhooks
securityDefinitions:
  Bearer:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
