name: Greetings

on: [pull_request_target, issues]

permissions:
  pull-requests: write
  issues: write

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: |
            Hello! Thank you for filing an issue.

            If this is a bug report, please include relevant logs to help us debug the problem.
        pr-message: 'Congrats, you just opened your first pull request on ${{ github.repository }}! Thank you for contributing!'
